<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An AI magic Art Frame</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .fullscreen-image {
            width: 100%;
            height: 100%;
            background: url('your-image.jpg') no-repeat center center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="fullscreen-image" id="background"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const defaultWidth = document.body.clientWidth;
        const defaultHeight = document.body.clientHeight;
        const interval = false

        function requestImage() {
            console.log("Requesting image", defaultWidth, defaultHeight);
            socket.emit('request image', defaultWidth, defaultHeight);
        }

        function startInterval() {
            if (!interval) {
                const interval = 600000; // 600000 milliseconds = 10 minutes
                setInterval(requestImage, interval);
                interval = true;
            } else {
                console.log("Interval already started")
            }
        }

        socket.on('image changed', (newImageUrl) => {
            const newUrl = `/cache/${newImageUrl}`;
            document.getElementById('background').style.backgroundImage = `url(${newUrl})`;
        });

        socket.on('connect', () => {
            console.log('Connected to server');
            requestImage();
            startInterval()
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });






    </script>
</body>

</html>